.title-slide {
    text-align: center;
}

.image-2 {
    width: 1360px;
    height: 650px;
}
.image-3 {
    width: 1360px;
    height: 650px;
}
.div-boxes {
    margin-top: 70px;
}
.h-2 {
    font-size: 17px;
    margin-top: 20px;
}